/* Поля меняются в зависимости от размера окна: 48-48-24-16 */
.section-width_size_wwww {
    padding-left: 48px;
    padding-right: 48px;
}


@media (max-width: 1023px) {
    .section-width_size_wwww {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (max-width: 450px) {
    .section-width_size_wwww {
        padding-left: 16px;
        padding-right: 16px;
    }
}
