/* Поля (margin) меняются в зависимости от размера окна: 48-0-0-0 */
.section-width_size_w-margin {
    margin-right: 48px;
    margin-left: 48px;
}

@media (max-width: 1024px) {
    .section-width_size_w-margin {
        margin-right: 0;
        margin-left: 0;
    }
}
