/*Поля меняются в зависимости от размера окна: 48-48-0-0*/
.section-width_size_ww {
    padding-left: 48px;
    padding-right: 48px;
}

@media (max-width: 1023px) {
    .section-width_size_ww {
        padding-left: 0;
        padding-right: 0;
    }
}
