.footer__links {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 691px) {
    .footer__links {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}
